@use "./mixins";
@use "./vars";

.home {
  background-color: #1d1f21;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 400px;
  }
  &__logo {
    width: 200px;
    height: 200px;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 412px;
    align-items: center;
    text-align: center;
    line-height: 40px;
  }
  &__login-signup {
    display: flex;
    flex-direction: column;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }

  &__signin,
  &__signup {
    @include mixins.button;
    max-width: 412px;
    text-decoration: none;
  }
  &__buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  &__language-choice {
    display: flex;
    flex-direction: row;
    width: 200px;
    max-width: 412px;
    justify-content: space-between
  }
  &__language-fr,
  &__language-en {
    @include mixins.button-other;
    width: 80px
  }
}

.button__logout,
.button__new-game {
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  text-transform: uppercase;
  margin-top: 2rem;
  &:hover {
    color: #fff;
    border: 1px solid hsla(0, 0%, 100%, 0.5);
    transition: background-color 0.15s ease-in, border-color 0.15s ease-in,
      color 0.15s ease-in;
  }
}
@media screen and (min-width: 720px) {
  .home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__container {
      max-width: 412px;
      max-height: 409px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__login-signup {
      display: flex;
      flex-direction: column;
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
    &__signin,
    &__signup {
      @include mixins.button;
      max-width: 412px;
    }
    &__log {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}
