@use "./mixins";
@use "./vars";

* {
    color: white;
}
.game-modes {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  &__list {
    display: flex;
    flex-direction: column;
  }
}
h1{
    margin-bottom: 2rem;
}
.button__game-mode {
  @include mixins.button-other
}
