@use "./mixins";
@use "./vars";

* {
  color: white;
}
.game-modes {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  &__list {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
h1 {
  margin-bottom: 2rem;
}
.button__game-mode {
  @include mixins.button-other;
  width: 300px;
  height: 40px;

}

