.signup {
  background-color: #1d1f21;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 1.5rem;
}
h1 {
  color: white;
}
form {
  width: 100%;
  height: 100%;
}
.input__email,
.input__password,
.input__username {
  width: 100%;
  max-width: 412px;
  height: 40px;
  border-radius: 0.5rem;
  color: #1a1919;
  border: none;
  margin-top: 2rem;
  padding-left: 2rem;
}
.button__submit {
  width: 100%;
  border-radius: 0.5rem;
  color: #1a1919;
  font-weight: bold;
  margin-top: 2rem;
  background-color: #ca0b0b;
  height: 40px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 720px) {
  .signup {
    background-color: #1d1f21;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button__submit {
    width: 100%;
    border-radius: 0.5rem;
    color: #1a1919;
    font-weight: bold;
    margin-top: 2rem;
    background-color: #ca0b0b;
    height: 40px;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
